body {
  font-family: Georgia, Palatino, "Palatino Linotype", Times, "Times New Roman", serif;
  font-size: 20px;
  line-height: 32px;
  color: #002626;
  background-color: #F2E9E4;
}

h1, h2 {
  line-height: 35px;
  color: #002626;
}

h2 {
  margin-top: 50px;
}

a {
  color: #E55812;
  text-decoration: none;
  border-bottom: 1px dotted #999;
}

a:hover {
  color: #95C623;
}

.content {
  margin: 50px auto;
  padding: 20px;
  max-width: 800px;
}

.content-comment {
  margin: 15px auto;
  max-width: 85%;
  font-size:  13px;
  line-height: 16px;
  font-style: italic;
}

.content-image {
  margin: 0px auto;
  max-width: 85%;
  font-size:  13px;
  line-height: 16px;
  text-align: center;
  font-style: italic;
}

.content-image img {
  max-width: 100%;
  margin: 5px auto;
}

#avatar {
  object-fit: cover;
  border-radius:50%;
  width: 160px;
  height: 160px;
}

.image-info {
  text-align: center;
  font-size: 12px; 
  color: #888;
}

.small {
  font-size: 70%;
}

@media screen and (max-width: 500px) {
  body {
    font-size: 16px;
    line-height: 24px;
  }

  .content-image {
    max-width: 100%;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    color: #888;
    background-color: #222;
  }

  h1, h2, h3, h4 {
    line-height: 35px;
    color: #fff;
  }

  a {
    color: #fff;
  }

  a:hover {
    color: #aaa;
  }
}
